.DS_Store
.vagrant/
*.pyc
*.pyo
*.swp
*.swo
.cache/
.tox/
private/
venv/
htmlcov/
cover/
coverage.xml
nosetests.xml
.coverage
*.egg-info
.eggs/
mock-*
nosexcover-*
.ropeproject/
.idea/
.coveralls.yml
coverage.json
pylint.out
