# Specify top-level dependencies (without versions), and any explicit versions.
#
# Note: use this file during development
# @see http://www.kennethreitz.org/essays/a-better-pip-workflow





invoke
mock
pandas
pylint
pyodbc
pytest-cov
setuptools-scm
SQLAlchemy
tox
