# Store the output of
#   $ pip freeze
# after
#   $ pip install -r requirements-to-freeze.txt --upgrade
#
# Note: use this file for deployment (aka: to avoid problemZ)
# @see http://www.kennethreitz.org/essays/a-better-pip-workflow


dill==0.2.7.1
pandas==0.20.3
pyodbc==4.0.17
setuptools-scm==1.15.6
SQLAlchemy==1.1.13
