[loggers]
keys=root

[logger_root]
# what handlers to enable
handlers=screen,file
level=NOTSET

[formatters]
keys=simple,complex

[formatter_simple]
format=%(asctime)s: %(name)s: %(levelname)s: %(message)s

[formatter_complex]
format=%(asctime)s: %(name)s: %(levelname)s: %(module)s.py+%(lineno)d: %(message)s

[handlers]
keys=file,screen

[handler_file]
#class=handlers.TimedRotatingFileHandler
# interval=midnight
class=handlers.RotatingFileHandler
backupCount=5
maxBytes=5*1024*1024
formatter=complex
level=INFO
# level=DEBUG
args=('logs/deduper.log',)

[handler_screen]
class=StreamHandler
formatter=complex
level=INFO
args=(sys.stdout,)
